<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
	<meta charset="UTF-8">
	<link href="{% static 'index_dipendenti.css' %}" rel="stylesheet" type="text/css">
	<link rel= "icon" href="{% static 'logoSito.png' %}">
    <title>Area Bibliotecari</title>
    <script type="text/javascript" src="{% static 'functions.js' %}"></script>
</head>

<body background="{% static 'sfondoSito.jpg' %}">
	<header id="header2">
        <nav class="links_login" style="--items: 5;">
            <div id="menu2" onclick="apriTendina();">
                <img src = "{% static 'menu-button-of-three-horizontal-lines.png' %}">
            </div>
            <a href="{% url 'index' %}"><p class = "titolo">LA BIBLIOTECA DIGITALE</p></a>
            <p class = "benvenuto" align="center">CIAO, {{ user }}</p>
            <a href="{% url 'Logout' %}"><p class = "titolo">LOGOUT</p></a>
            <div class="src" onclick="cerca();">
                <img src = "{% static 'src.png' %}">
            </div>
            <span class="line"></span>
        </nav>
    </header>
	<div id = "content">
		<nav class="tendina" style="--items: 7;">
			<a href="{% url 'generi' 1 %}">AVVENTURA</a>
			<a href="{% url 'generi' 2 %}">COMMEDIA</a>
			<a href="{% url 'generi' 3 %}">FANTASCIENZA</a>
			<a href="{% url 'generi' 4 %}">FANTASY</a>
			<a href="{% url 'generi' 5 %}">GIALLO</a>
			<a href="{% url 'generi' 6 %}">HORROR</a>
			<a href="{% url 'generi' 7 %}">ROSA</a>
			<span class="line"></span>
		</nav>
	</div>
	<div class = "generalDiv">
		<div class = "buttonAggiungiLibro">
			<button  onclick="aggiungi_libro();">AGGIUNGI LIBRO</button>
		</div>
		<div class = "buttonRimuoviLibro">
			<button  onclick="rimuovi_libro();">RIMUOVI LIBRO</button>
		</div>
		<h2 class="titolo" align="center">LIBRI PRESI IN PRESTITO:</h2>
		<div style="margin-bottom:30px" class="grid-container">
			{% for j in prestiti %}
				<div class="grid-item">
					<img src = "{% static j.image %}">

					</br><a href="{% url 'SchedaLibro' j.ISBN10 %}" class="book_title">
						<u>{{ j.Titolo_Libro }}</u>
					</a></br>

					</br>{{ j.Autore }}</br>

					</br> <b>{{ j.Genere }} </b> </br>
				</div>
			{% endfor %}
		</div>

		<h2 class="titolo" align="center" style="margin-bottom:30px">LISTA DI ATTESA:</h2>
		<div style="margin-bottom:30px" class="grid-container">
			{% for j in attese %}
				<div class="grid-item">
					<img src = "{% static j.image %}">

					</br><a href="{% url 'SchedaLibro' j.ISBN10 %}" class="book_title">
					<u>{{ j.Titolo_Libro }}</u>
					</a></br>

					</br>{{ j.Autore }}</br>

					</br> <b>{{ j.Genere }} </b> </br>
				</div>
			{% endfor %}
		</div>
	</div>
</body>
</html>